.copy {
  font-size: 15px;
  color: $color__trav-black;
  @media screen and (min-width: $tabwidth){
    font-size: 18px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 10px 0;
  }
  strong, b, em {
    font-weight: 800;
  }
  a {
    text-decoration: none;
    color: black;
    position: relative;
    &:hover {
      color: black;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: $color__trav-blue;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 10px 10px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
#masthead {
  >.row-1 {
    @include flexbox;
    @include flexbox-direction(column);
    @include flexbox-align-content(center);
    @include flexbox-align-items(center);
    @include flexbox-justify(center);
    width: 100%;
    padding: 10px;
    @media screen and (min-width: $tabwidth){
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      padding: 20px 8%;
    }
    >.col-1 {
      @include flexbox-flex(0,1,auto);
      color: $color__trav-red;
      font-size: 25px;
      margin: 0 0 10px 0;
      @media screen and (min-width: $tabwidth){
        margin: 0;
      }
    }
    >.col-2 {
      @include flexbox-flex(0,1,auto);
      width: 125px;
      @include flexbox;
      @include flexbox-align-content(center);
      @include flexbox-align-items(center);
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      color: $color__trav-red;
      a {
        @include flexbox-flex(0,1,auto);
        color: inherit;
        display: block;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: inherit;
        }
        i {
          font-size: 25px;
        }
      }
    }
  }
  >.row-2 {
    @include flexbox;
    @include flexbox-direction(column);
    @include flexbox-align-content(center);
    @include flexbox-align-items(center);
    @include flexbox-justify(center);
    width: 100%;
    padding: 20px;
    background-color: $color__trav-blue;
    @media screen and (min-width: $tabwidth){
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      padding: 4% 8%;
    }
    .logo {
      @include flexbox-flex(0,1,auto);
      width: 50%;
      margin: 0 auto 20px auto;
      @media screen and (min-width: $tabwidth){
        width: 40%;
        margin: 0;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    #site-navigation {
      @include flexbox-flex(0,1,auto);
      width: 100%;
      @media screen and (min-width: $tabwidth){
        width: 60%;
      }
      @media screen and (min-width: $deskwidth){
        width: 30%;
      }
      &.toggled {
        #primary-menu {
          display: block;
        }
      }
      button {
        margin: 0 auto;
        display: block;
        width: 40%;
        border-radius: 5px;
        background-color: $color__trav-green;
        color: white;
        font-size: 18px;
        padding: 10px;
        box-shadow: none;
        text-shadow: none;
        border: none;
        @media screen and (min-width: $tabwidth){
          display: none;
        }
      }
      #primary-menu {
        display: none;
        @media screen and (min-width: $tabwidth){
          display: block;
        }
        > ul {
          margin: 0;
          padding: 0;
          @include flexbox;
          @include flexbox-direction(column);
          @include flexbox-align-content(center);
          @include flexbox-align-items(center);
          @include flexbox-justify(center);
          @media screen and (min-width: $tabwidth){
            @include flexbox-direction(row);
            @include flexbox-justify(space-between);
          }
          li {
            @include flexbox-flex(0,1,auto);
            display: block;
            margin: 20px 0 0 0;
            list-style-type: none;
            color: white;
            font-size: 18px;
            @media screen and (min-width: $tabwidth) {
              margin: 0;
              font-size: 25px;
            }
            a {
              color: inherit;
              display: block;
              text-decoration: none;
              &:hover {
                text-decoration: none;
                color: inherit;
              }
            }
            &.sub-menu {

            }
          }
        }
      }
    }
  }
}