.template-index {
  >.row-1 {
    background-position: center;
    background-size: cover;
    padding: 20px;
    @media screen and (min-width: $tabwidth){
      padding: 3% 7% 25% 7%;
    }
  }
  >.row-1 {
    form#searchform {
      @include flexbox;
      @include flexbox-direction(column);
      @include flexbox-align-content(stretch);
      @include flexbox-align-items(stretch);
      @include flexbox-justify(center);
      width: 100%;
      padding: 10px;
      background-color: rgba(18, 28, 38, 0.6);
      border-left: 10px solid white;
      margin-bottom: 3%;
      @media screen and (min-width: $tabwidth){
        @include flexbox-direction(row);
        @include flexbox-justify(space-between);
        padding: 3%;
      }
      >.wrapper {
        width: 100%;
        position: relative;
        margin: 20px 0 0 0;
        @include flexbox-flex(0,1,auto);
        @media screen and (min-width: $tabwidth) {
          margin: 0;
          width: 33%;
        }
        &:first-child {
          margin: 0;
        }
        input[type=text] {
          width: 100%;
          border: 2px solid $color__trav-green;
          padding: 5px 10px;
          background-color: rgba(235, 236, 238, 0.6);
          border-radius: 5px;
          font-size: 15px;
          display: block;
          height: 100%;
          color: $color__trav-black;
          @media screen and (min-width: $tabwidth){
            font-size: 20px;
          }
          &:-moz-placeholder {
            color: $color__trav-black;
          }
          &::-webkit-input-placeholder {
            color: $color__trav-black;
          }
          &::-moz-placeholder {
            color: $color__trav-black;
          }
          &:-ms-input-placeholder {
            color: $color__trav-black;
          }
        }
        .selector {
          position: absolute;
          background-color: white;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 3;
          .option {
            color: $color__trav-green;
            padding: 10px;
            font-weight: 800;
            cursor: pointer;
          }
        }
      }
      .submit {
        width: 100%;
        @include flexbox-flex(0,1,auto);
        color: white;
        cursor: pointer;
        margin: 20px 0 0 0;
        background-color: $color__trav-green;
        border-radius: 5px;
        padding: 5px 10px;
        text-align: center;
        font-size: 18px;
        vertical-align: middle;
        @media screen and (min-width: $tabwidth){
          margin: 0;
          width: 30%;
          font-size: 25px;
        }
        i {
          vertical-align: middle;
          font-size: 25px;
          display: inline-block;
          margin-left: 10px;
          @media screen and (min-width: $tabwidth){
            font-size: 40px;
            margin-left: 20px;
          }
        }
      }
    }
    .banner-text {
      color: white;
      font-size: 25px;
      font-weight: 800;
      text-shadow: 3px 3px 20px $color__trav-black;
      @media screen and (min-width: $tabwidth){
        font-size: 50px;
      }
      @media screen and (min-width: $midwidth){
        font-size: 80px;
      }
    }
  }
  >.row-2 {
    @include flexbox;
    @include flexbox-direction(column);
    @include flexbox-align-content(stretch);
    @include flexbox-align-items(stretch);
    @include flexbox-justify(center);
    width: 100%;
    padding: 20px;
    @media screen and (min-width: $tabwidth){
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      padding: 5%;
    }
    >.col-1, >.col-2, >.col-3 {
      width: 100%;
      @include flexbox-flex(0,1,auto);
      @media screen and (min-width: $tabwidth){
        width: 1/3*100%;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          color: inherit;
        }
      }
      >.wrapper, a >.wrapper {
        padding: 5%;
        text-align: center;
        .circle {
          width: 100px;
          height: 100px;
          padding: 20px;
          border-radius: 50%;
          background-color: $color__trav-green;
          margin: 0 auto;
          text-align: center;
          i {
            font-size: 60px;
            color: white;
          }
        }
        .copy {
          width: 80%;
          margin: 10px auto 0 auto;
          color: $color__trav-blue;
          font-size: 16px;
          @media screen and (min-width: $tabwidth) {
            font-size: 20px;
          }
        }
      }
    }
  }
  >.row-3 {
    @include flexbox;
    @include flexbox-direction(column);
    @include flexbox-align-content(stretch);
    @include flexbox-align-items(stretch);
    @include flexbox-justify(center);
    width: 100%;
    @media screen and (min-width: $tabwidth){
      @include flexbox-direction(row);
    }
    >.col-1 {
      width: 100%;
      @media screen and (min-width: $tabwidth){
        width: 53%;
      }
      background-position: center;
      background-size: cover;
      >.wrapper {
        padding-bottom: 50%;
        @media screen and (min-width: $tabwidth) {
          padding-bottom: 0;
        }
      }
    }
    >.col-2 {
      width: 100%;
      background-color: $color__trav-grey;
      @media screen and (min-width: $tabwidth){
        width: 47%;
      }
      >.wrapper {
        padding: 20px;
        @media screen and (min-width: $tabwidth) {
          padding: 20% 10% 10% 25%;
        }
        >.wrapper {
          padding-bottom: 30px;
          @media screen and (min-width: $tabwidth) {
            padding-bottom: 50%;
          }
          h2 {
            color: $color__trav-blue;
            font-size: 25px;
            margin: 0;
            @media screen and (min-width: $tabwidth){
              font-size: 35px;
            }
            @media screen and (min-width: $deskwidth){
              font-size: 50px;
            }
          }
          .spacer {
            border: 3px solid $color__trav-blue;
            width: 150px;
            margin-bottom: 7%;
          }
          .copy {
            font-size: 16px;
            @media screen and (min-width: $tabwidth) {
              font-size: 20px;
            }
            @media screen and (min-width: $deskwidth) {
              font-size: 25px;
            }
          }
        }
        .link {
          background-color: $color__trav-green;
          font-size: 20px;
          border-radius: 5px;
          vertical-align: middle;
          text-align: center;
          margin: 0 0 0 auto;
          width: 75%;
          color: white;
          padding: 5% 5% 5% 10%;
          font-weight: 300;
          @media screen and (min-width: $tabwidth) {
            font-size: 25px;
          }
          @media screen and (min-width: $deskwidth) {
            font-size: 35px;
          }
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: inherit;
              text-decoration: none;
            }
          }
          i {
            vertical-align: middle;
            font-size: 25px;
            display: inline-block;
            margin-left: 5px;
            @media screen and (min-width: $tabwidth){
              font-size: 40px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  >.row-4 {
    background-color: $color__trav-blue;
    padding: 20px;
    text-align: center;
    @media screen and (min-width: $tabwidth){
      padding: 10%;
    }
    h2 {
      color: white;
      font-size: 25px;
      margin: 0;
      @media screen and (min-width: $tabwidth){
        font-size: 35px;
      }
      @media screen and (min-width: $deskwidth){
        font-size: 50px;
      }
    }
    .spacer {
      width: 150px;
      color: white;
      border: 3px solid white;
      margin: 0 auto;
      margin-bottom: 20px;
      @media screen and (min-width: $tabwidth) {
        margin-bottom: 5%;
      }
    }
    .copy {
      font-size: 16px;
      text-align: center;
      color: white;
      margin-bottom: 20px;
      @media screen and (min-width: $tabwidth) {
        font-size: 20px;
        margin-bottom: 5%;
      }
      @media screen and (min-width: $deskwidth) {
        font-size: 25px;
      }
    }
    .email {

    }
  }
}
.template-results, .template-sitemap, .error-404, .template-page {
  >.row-2 {
    padding: 20px;
    @media screen and (min-width: $tabwidth){
      padding: 3% 7% 15% 7%;
    }
    header {
      padding-bottom: 20px;
      @media screen and (min-width: $tabwidth){
        padding-bottom: 5%;
      }
      h1 {
        margin: 0;
        padding: 0;
        font-size: 25px;
        @media screen and (min-width: $tabwidth){
          font-size: 35px;
        }
      }
    }
    .results {
      width: 100%;
      .result {
        width: 100%;
        background-color: $color__trav-grey;
        padding: 20px 30px;
        margin-top: 20px;
        @media screen and (min-width: $tabwidth) {
          margin-top: 3%;
        }
        &:first-child {
          margin-top: 0;
        }
        >.row-1 {
          border-bottom: 1px solid black;
          padding: 10px 0;
          >.col-1 {
            font-size:18px;
            font-weight: 700;
            @media screen and (min-width: $tabwidth) {
              float: left;
              width: 50%;
              text-align: left;
              font-size: 25px;
            }
          }
          >.col-2 {
            font-size:18px;
            font-weight: 700;
            @media screen and (min-width: $tabwidth) {
              float: left;
              width: 50%;
              text-align: right;
              font-size: 25px;
            }
          }
        }
        >.row-2 {
          padding: 20px 0;
          @media screen and (min-width: $tabwidth) {
            padding: 3% 0;
          }
          >.col-1 {
            @media screen and (min-width: $tabwidth) {
              float: left;
              width: 20%;
            }
            .shift {
            }
            .pay {
              margin-top: 10px;
            }
            .benefits {
              margin-top: 10px;
            }
          }
          >.col-2 {
            margin-top: 20px;
            @media screen and (min-width: $tabwidth) {
              float: left;
              width: 77%;
              margin-left: 3%;
              margin-top: 0;
            }
          }
        }
        >.row-3 {
          text-align: right;
          a {
            width: 200px;
            text-align: center;
            display: inline-block;
            font-size: 18px;
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            background-color: $color__trav-green;
            border-radius: 5px;
            max-width: 100%;
          }
        }
      }
    }
  }
}

